@import "tailwindcss";

@font-face {
    font-family: "barrio-regular";
    src: url("../public/Barrio-Regular.ttf") format("truetype");
}

@theme {
    --color-dark-blue: #4354a2;
    --color-burnt-red: #a0352b;
    --color-salmonish: #e46548;
    --color-rb-iceblue: #d0e6ed;
}
